<mat-toolbar class="toolbar">
    <div class="container d-flex flex-row justify-content-between align-items-center">
        <!-- title of the header -->
        <a class="navbar-brand text-dark py-0" routerLink="/" style="cursor: pointer;">
            <span>Avila predictor</span>
        </a>

        <!-- Github repos -->
        <div>
            <a mat-icon-button class="border text-secondary" href="/" target="_blank">
                <span>Github</span>
            </a>
        </div>
    </div>
</mat-toolbar>